body
{
  background-color: #dddddd;
  font-family: Hevetica, Arial, Garamond, Sans-Serif;
}

h2 {
  margin-top: 20px;
  font-size: 300%;
  color: #fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h1 {
  margin-top: 0px;
  font-size: 110%;
  color: #333;

}

h3 {
  margin-top: 0px;
  font-size: 100%;
  font-style: italic;
  font-weight: normal;
  color: #333;
}

.container
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px 10px 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.c1-head
{
  font-size: 120%;
  padding: 10px;
  background-color: #4bf;
  order: 1;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 14%;
  min-height: 3%;
  color: fff;
}

.c2-head
{
  font-size: 120%;
  padding: 10px;
  background-color: #4bf;
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 14%;
  color: fff;
}

.c3-head
{
  font-size: 120%;
  font-family: Hevetica, Arial, Garamond, Sans-Serif;
  padding: 10px;
  background-color: #4bf;
  order: 3;
  flex-grow: 10;
  color: fff;
}


.c1
{
  font-family: Courier;
  padding: 10px;
  background-color: #eee;
  order: 1;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 14%;
  border-right: 1px dotted #888;
  border-bottom: 1px dotted #888;
}

.c2
{
  font-family: Courier;
  padding: 10px;
  background-color: #eee;
  order: 2;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 14%;
  border-right: 1px dotted #888;
  border-bottom: 1px dotted #888;
}

.c3
{
  padding: 10px;
  background-color: #fff;
  order: 3;
  flex-grow: 10;
  border-bottom: 1px dotted #888;
}

.cspan
{
  padding: 20px;
  margin: 6px 0px 4px 0px;
  background-color: #ffffaa;
  order: 10;
  flex-grow:1;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer
{
  padding: 40px;
}